@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  form {
    @apply w-2/5 flex items-center;
  }
  form input {
    @apply border rounded-l px-4 py-1 text-xl focus:outline-none;
  }

  /* home page */
  .home-container {
    @apply min-h-screen flex flex-col items-center py-7;
  }

  /* details page */
  .country-container {
    @apply mt-5 mx-auto w-2/4 text-xl grid grid-cols-2;
  }
  .country-container h2 {
    @apply text-2xl font-semibold col-span-2 text-center mb-5;
  }
  .country-container span {
    @apply font-medium;
  }
  .user-message {
    @apply text-xl text-gray-400 font-medium h-[80vh] flex justify-center items-center;
  }
  .spinner {
    @apply h-[80vh] flex justify-center items-center text-xl;
  }

  /* weather-report component */
  .weather-report {
    @apply text-xl flex items-center col-span-2 justify-center;
  }
  .weather-report-header {
    @apply font-medium text-center mt-10;
  }
}
